[2013-01-05 09:20] bfricka opened #1 "localStorage caching of LESS input"
I'd like to add caching for the LESS input so values are retained.

[2013-01-05 23:34] scottrippey commented on #1
That's a great idea. I was trying to figure out how input could be stored ... but what about sharing? What if we serialized the input into the query string? That's the only way I can think of sharing without a server-side component.

brian-frichette notifications@github.com wrote:

[2013-01-06 02:40] bfricka commented on #1
Using the URL to store the data will work for smaller examples, and perhaps that is good enough for most cases for which this would be used.  I'm for it.  However, max length of a URL is 2k characters or less in most browsers, so we'll have to keep that in mind.

I'm not against creating a simple server side component using Node and MongoDB if we need storage in the future.  I have a VPS I can hos

[2013-01-06 02:51] bfricka commented on #1
BTW, one thing I thought of: If we use the query string, we'll probably want to strip whitespace.  However, I believe the CodeMirror editor may have methods or plugins that will restore white-space. If not, we'll have to create one.

Just as an example, the default lessInput when URI-encoded, is already 703 characters. With whitespace stripped and URI-encoded, it's 457.

Thus we could get decent s

[2013-01-07 01:44] scottrippey commented on #1
Stripping the whitespace and restoring it sounds like the best bet! I'd be curious to see a simple backend implementation ... using jsonp I'd assume?

brian-frichette notifications@github.com wrote:

[2013-01-07 03:36] bfricka commented on #1
I implemented localStorage caching. Going to close this and open a separate issue for queryString / sharing discussion.

[2013-01-07 03:36] #1 closed, assigned to nobody

[2013-01-07 03:38] bfricka opened #2 "Sharing snippets"
Discuss either serializing to query string or simple backend system.

[2013-01-07 06:15] scottrippey commented on #2
My impression is that this tool is mostly useful for:
- Demoing or testing a specific feature of LESS
- Comparing the specific differences between versions of LESS

In both cases, I'd say that the input will be very short.  So, I think query string would probably be fine.  Perhaps a "tinyUrl" integrated button for url-shortening? (so you can share the link without spamming!)

[2013-01-07 06:46] scottrippey commented on #2
Update:
Ok, so maybe I didn't realize your enthusiasm with this project!  A TLD?  Very cool.  And the rest of the changes, I'll compliment you in person for those!
Considering your grandiose vision for this project, I think the sharing feature might be much more useful than query string serialization.

So, I think it would be wonderful to see:
- Saving/sharing would generate a unique id, such as J

[2013-01-07 07:01] scottrippey opened #3 "Improving LESS Error Messages"
When typing LESS code, the CSS is instantly compiled.  However, this means that we show error messages way too often.

I'd like to suggest the following logic:
- When the LESS has an error, we show the error message in a different label, and keep the compiled CSS output on the screen.

Additionally, we might consider "throttling" the error message updates, because it might be too distracting to ke

[2013-01-09 01:33] bfricka commented on #3
Good ideas.  I agree the flashing isn't good UI.  I'll play around with these suggestions when I get a moment. Feel free to do this same.

[2013-01-09 01:38] bfricka commented on #2
Yeah, I'm not sure what I ultimately want this to be.  I think first it makes sense to implement the easy stuff that doesn't require server side.  If I get a hankering for more, I can host it on my VPS.

My dilemma then would be: Rails or Node.js.  If you're going to contribute then, Node probably makes sense since there won't be much learning curve.  Otherwise, I'll likely use Rails, since there

[2013-01-09 04:43] scottrippey commented on #2
Agreed, a simple solution would be best to do first, and the query string would be easiest.

But here's another thing, I've been in touch with the Less developers, and they recommended to add  "try it now" links to lesscss.org (on Github) that link to this live editor!
So keeping that in mind, I think it would be great to easily generate "deep links" that include all text as the query string. No u

[2013-01-09 20:53] gustavohenke opened #4 "CSS -> LESS"
Hey,
What about enabling conversion from CSS to LESS also? Would be very cool!

Thanks :)

[2013-01-09 21:44] bfricka commented on #4
I'm definitely interested.  I think it makes a lot of sense for people who aren't familiar with LESS to be able write CSS and see what it might look like in LESS.

That being said, it's a much bigger project, and it requires some discussion to define what rules / options should be implemented to produce the LESS.  For example, in my experience, creating LESS that is too deeply-nested can make for

[2013-01-09 22:21] gustavohenke commented on #4
I don't think that those complex things should be done for a start.. being able to only nest selectors, for now, is great.

I've created a [jQuery UI Bootstrap theme](https://github.com/gustavohenke/jquery-ui-bootstrap), and, as all Bootstrap related things, I wanted to make a LESS version. Then I discovered your great tool in the less.js repo and thought it would make the CSS -> LESS pass ;)

[2013-01-09 23:24] scottrippey commented on #4
Well, here's a site that does this:
http://css2less.cc/ (https://github.com/thomaspierson/libcss2less)
But I assumed it was client-side, but now I realize it's Ruby.  I think a JS implementation is worthy of an attempt!

However, as @brian-frichette said, doing anything more than reverse-nesting would definitely be tricky.  And I'm guessing that reverse-nesting is probably the best feature, too.

[2013-01-10 00:31] gustavohenke commented on #4
OMG, I knew this site and it was offline two hours ago when I answered here :O
Thanks anyway, I'll be watching your repo ;) GJ guys.

[2013-01-10 01:32] bfricka commented on #4
Awesome, thanks Scott. Should be easy to port to JS and then refactor as needed. :)

[2013-01-10 08:44] scottrippey commented on #4
Here's a possible way to implement this:
Start by using the _LESS parser._  That's right, parse the CSS as if it's a LESS file.  It's a great parser, and ideally, it's backwards compatible with CSS, so it could parse the entire CSS file into a (shallow) tree.

Once parsed into a tree, I think it would be much more feasible to implement some of these advanced features.

[2013-01-11 09:19] lukeapage commented on #4
@scottrippey I would love it if the less AST supported visiting and did its eval and tocss operations through that.. then you could make a visitor that output less and a visitor that "uneval'd" and you would be there.. lots of work till thats possible though :(

[2013-01-11 09:22] lukeapage opened #5 "Import functionality"
How about a button that adds a new file and then exposes the ability for you to set filenames for each added file, so that you can import one thats still on the screen?

Not sure if its useful for people, but it would be useful for me!

[2013-01-11 09:22] lukeapage opened #6 "less options"
less has quite a few options now - maybe the appropriate ones could be exposed?

[2013-01-11 09:27] lukeapage commented on #2
the url string could get pretty big.. and isn't there a 2048 limit?

in the same way as

http://lea.verou.me/2011/12/introducing-dabblet-an-interactive-css-playground/

couldn't it save to github gists ? then it wouldn't need anything serverside?

[2013-01-11 09:41] lukeapage opened #7 "Add a master version"
It shouldn't by default, but master branch version (or e.g. "1.4.0 alpha") allows people to play with new features

[2013-01-11 10:44] gustavohenke commented on #2
The 2048 limit, the far I know, is for ooold browsers & servers, @agatronic ;D
I would go with generating an random string and using it as file names @ the server side. Or a simple 3-column table:
- Random string
- File contents
- Version

[2013-01-11 18:31] scottrippey commented on #2
I think involving a server-side component is a good idea, because it alleviates any size limits (I know for sure that IE has lower limits than others), and allows easier link sharing.

However, supporting a querystring is still a solid idea, because for short snippets, you could update the link without having to make a new version.

Use-case?  On `lesscss.org`, there are tons of less samples.  It

[2013-01-11 18:36] scottrippey commented on #2
@gustavohenke  The server-side component obviously requires a lot more than a `gh-pages` site allows, so that's probably the biggest current limitation.  However, @brian-frichette was planning on using his own hosting for the server component, unless an alternative can be found ...

... which leads me to @agatronic's statement ... are you suggesting that GitHub has an API that could accommodate th

[2013-01-11 18:46] scottrippey commented on #4
@agatronic Yeah, but I like the idea that the individual tree nodes are responsible for the `toCSS` methods ... decoupling the logic into a visitor would be difficult and would unfortunately obscure the code.
I think that the usefulness of a CSS decompiler is pretty limited -- mostly educational, so it's not too high of a priority IMO.

[2013-01-11 18:58] scottrippey commented on #7
I'm absolutely on-board with this idea!  This is my personal '#1' feature request.
However, currently, we use the `/cloudhead/less.js/dist/*` folder to include each version of LESS on the page.  As far as I know, there is no compiled `less.1.4.0 alpha.js` in the repo.

So, I think there's 2 ways of getting this implemented:
1. We add a new Less version, "1.4.0 nightly" that imports the necessary f

[2013-01-11 20:47] lukeapage commented on #2
@scottrippey sorry I wasn't clear.. yes, gists can be created from an api on the client (e.g. in the browser). Dabblet does this. Here is what a quick search led me too, to find it

https://github.com/LeaVerou/dabblet/blob/master/code/global.js

If it could support gists and URL's, that would be the ultimate - As a user I'd rather use gists, and in the lesscss site It would be cool to generate the

[2013-01-11 20:57] lukeapage commented on #7
hrmm then its going to start picking up 1.4.0 soon...
https://github.com/cloudhead/less.js/tree/master/dist

Its quite easy to make less.js from the sources..
https://github.com/cloudhead/less.js/blob/master/Makefile#L26

I could rename the one in dist to add alpha to it (I probably should) but it is a pain compiling with every commit (I've done it every 6 or so)

[2013-01-11 21:16] lukeapage commented on #7
Have updated the files to include a alpha in the name.

Though I am thinking of only doing this alpha release because 1.4.0 is so big and has some breaking changes.. so it would be good to make your own from the source.

[2013-01-11 22:37] scottrippey commented on #7
I think it might be a bad idea to be compiling "nightlies" to the `/dist/` folder.  I wouldn't expect anything to ever change in that folder.  Even calling it `alpha` says to me, "go ahead and start testing, this is the official alpha release".  And I wouldn't commit anything to the `/dist/` folder that isn't permanent.
My recommendation is a completely separate `/nightly/` folder (or any appropri

[2013-01-12 04:04] bfricka commented on #6
Can you explain specifically what you are referring to by "options"? Thanks.

[2013-01-12 04:09] bfricka commented on #5
Can you clarify this? Specifically:
- Do you want to be able to paste in test and then save that with a file name that can be imported into the editor?
- Or are you looking to be able to upload files and them reference them via imports?

I think it would be useful to include something like this, and additionally to offer imports referencing popular LESS projects like boostrap.  This is definitely

[2013-01-12 06:29] scottrippey commented on #5
My initial impression is that he'd like to press a button that adds an additional code editor on the page, and assign it a virtual filename. Then, use an `@import` statement to include the virtual filename. Thus, you'd be able to test all sorts of `@import` functionality.
However, purely client-side, this seems like it'd be hard to get the Less code to change the meaning of the `@import` statement

[2013-01-13 07:13] bfricka commented on #7
So I rewrote this thing in Express so we can have a nice MVC server-side component with easy APIs.

The list is now populated by a `lessVersions.js`, which is set as an app variable via require.  It's all written in coffee-script and it looks like this:

[code]

The Jade template then renders the list using a conditional that:
- Checks for type `pre` and renders a data-attribute that will allow us

[2013-01-13 12:03] bfricka commented on #2
I have no problem creating a "Create Gist" button for the current chunk of code.  However, I have moved this to Express, as I want the power and flexibility that server-side has to offer, and it's really the best way to do short URLs.

I think it makes more sense for the sharing component to link to this site with the correct code saved, rather than to reference a gist. This was one of the main th

[2013-01-13 12:06] lukeapage commented on #2
@brian-frichette Thanks - any sharing will be good, mainly thought gists were a good idea to save you work/need for a serverside component.. Think your solution will be good.

[2013-01-13 15:34] scottrippey commented on #7
@brian-frichette   Maybe,  for each `lessVersion`,  you could  just add a "src" property.  that way,  you could include custom forks and stuff.

 I was originally thinking of just putting this info directly in the html,  such as `<option  value="http://.../less.1.4.0.alpha.js" >1.4.0 Alpha</option>`

[2013-01-14 05:44] bfricka commented on #7
This is done and live.  I don't have much opinion on how to handle this, Scott. I'm happy having it in a single file, but I'm open to alternatives.

In order to support IE (including 9-10), I'll need to have a locally hosted version of this anyways, so when I get a chance, I'll put something into my build script that pulls down files and builds less from source.  I'll setup a cron to do it every d

[2013-01-14 05:44] #7 closed, assigned to nobody

[2013-01-16 10:08] aziz commented on #6
:+1:
I would like to change `line-numbers` option and see the output, for new less versions ( >= 1.3 I guess)

--line-numbers=TYPE

[code]

[2013-01-16 16:53] scottrippey commented on #6
Sifting through the less source, I saw a couple of what I think are "options" ... but I'm not sure where they're documented.
@agatronic Can you provide some insight or documentation for these less options?  Or perhaps, it would be better to refactor them into an isolated object, such as `less.options`?
Examples:

[code]

[2013-01-16 16:57] lukeapage commented on #6
they are documented (albeit not so well) on the website

http://www.lesscss.org/#usage

I only added that section a couple of weeks ago. I agree less.options would be a much better place to put them, but that is a breaking change- people are using these options even though they are (or were) badly documented.

[2013-01-17 01:46] bfricka commented on #6
Gotcha.  I'll take care of this.

[2013-01-21 16:30] bfricka commented on #6
Added options on 0.0.3

There's still some polishing to do (add tooltips, etc.)

Please test and suggest :)

[2013-01-21 16:30] #6 closed, assigned to nobody

[2013-01-22 11:35] lukeapage commented on #6
cool, looks good.

When I enter a rootpath the characters get url encoded - is that a less2css bug or a less bug? I think it is a less2css bug.

[2013-01-22 14:59] bfricka commented on #6
I think you're right. Off the top of my head, I think it's probably the form modeler that I wrote (I think I am going to abstract that piece to a separate module anyways since it's useful elsewhere).  Thanks, will fix tonight.

[2013-01-23 17:48] gustavohenke opened #8 "CSS output line numbers"
Hey,
This is not something veeery required, but maybe would be useful to have the line numbers in the CSS output.

Thanks!

[2013-01-23 19:00] bfricka commented on #8
Are you referring to gutter line numbers?  For the CSS output?

I recently implemented options to dump line numbers from the less files into the CSS, but I'm thinking that you're referring to the gutter line numbers?

[2013-01-23 19:50] gustavohenke commented on #8
That's right.

[2013-01-24 01:38] bfricka commented on #8
Uh huh. Well, I'm not opposed b/c it makes the app simpler as I can remove highlight.js and just use another CodeMirror instance. I don't really care about the line numbers, but I'll enable them.  Mainly I like the idea of being able to select all on the CSS side.

I'll get this implemented soon, thanks.

[2013-02-03 18:29] bfricka commented on #8
This is done on the latest release.

[2013-02-03 18:29] #8 closed, assigned to nobody

[2013-02-04 13:33] lukeapage opened #9 "more options"
1.4.0 now has strictUnits and strictMaths options (you might consider combining into legacy?) they default to true and will be quite important for 1.4.0.

Also.. does your project require a new build to update to the new alpha version?

Thanks!

[2013-02-05 08:19] bfricka commented on #9
Hi Luke,

Regarding the alpha builds: For now I will setup a cron job to curl the alpha script every 6 hours or so it stays up to date. I'll get that implemented ASAP.

Regarding options, I can easily add those to the options drawer. Are you suggesting that they act as a single option (both strictUnits and strictMaths are activated) or would you prefer them separate?

I was also wondering if there

[2013-02-05 08:21] bfricka commented on #9
BTW, the reason I don't just link to the github raw output for the alpha is b/c github sets the content-type to text/plain on raw files, and IE9 and IE10 won't execute the script with mismatching content-type.

[2013-02-05 08:28] lukeapage commented on #9
strictMaths and strictUnits are seperate options that both default to true in 1.4.0 You can set them to false, which makes less behave in a way backwards compatible with 1.3.3

optimisation effects the way the parser "chunks" and only effects the speed of compilation.

lesscss.org - I'd forgotten about that. 2 or 3 of the pulls are waiting for 1.4.0 but I should really pull the others - its no has

[2013-02-05 08:34] bfricka commented on #9
I'm glad to help with coding.  I'll run through the list and pick something that strikes me :)

[2013-02-05 08:44] lukeapage commented on #9
great.. the 2 assigned to me I am working on. just add a comment on any you want to try and I'll make sure everything you need to know is in that issue.

[2013-02-07 07:57] bfricka commented on #9
Hi Luke,

I setup a cron task that pulls the alpha file every 10 minutes.  Currently, the file it's pulling is causing errors. `non_object_property_load error: Cannot read property 'compress' of undefined`.  I'm really sleepy right now, so I'm not going to get into debugging it, but I thought I would let you know that alpha changes will reflect (relatively) quickly now.

I'll add the legacy option

[2013-02-13 08:40] lukeapage commented on #9
@brian-frichette thanks, guess thats why it says options is not defined for 1.4.0 alpha at the moment

let me know if its something we have done...

[2013-02-13 08:41] lukeapage commented on #4
@gustavohenke I came across this too

https://github.com/sellside/dry

[2013-02-13 22:07] bfricka commented on #4
Looks pretty cool. I'll check it out. Thanks

[2013-02-13 22:12] bfricka commented on #9
I believe it is on the less.js side. I haven't changed anything in terms of how I instantiate or interact with instances of less. I will dig deeper to try to diagnose the problem when I get some time, if you don't get to it first. This is a particularly busy week for me.

[2013-02-15 21:57] lukeapage commented on #9
@brian-frichette you are right. I have fixed it - you were passing null as the options and less.js didn't like it. It was a bug. However, you need to pass the options object to the parser and the toCSS() call (first argument) otherwise it won't pick up some of the new options.. Thanks.

[2013-02-15 22:26] bfricka commented on #9
Awesome. I'll make the changes when I get home tonight. Thanks!
On Feb 15, 2013 1:57 PM, "Luke Page" notifications@github.com wrote:

[2013-02-19 06:43] bfricka commented on #9
Sorry that took so long. Was out of town this weekend.

Take a look and let me know if I missed anything. :+1:

[2013-02-19 06:43] #9 closed, assigned to nobody

[2013-02-19 07:17] bfricka commented on #9
BTW @agatronic, I'm looking at the open issues, and I'm going to see if I can help out.  However, there is no way for me to see which are assigned to you (since I'm not a collaborator on the repo). Can you let me know which tickets you are specifically working on so I can stay away from them?

Thanks,

[2013-02-19 08:04] lukeapage commented on #9
just variable `@import`s - thats my project at the moment.

Many thanks - just add a comment on the bug saying you are taking a look as
I know there are a couple of other people who said they might help out (but
they are yet to contribute anything).

this one

https://github.com/cloudhead/less.js/issues/1067
and
https://github.com/cloudhead/less.js/issues/1092

should be relatively easy

this one

[2013-02-19 08:13] bfricka commented on #9
I believe I'll stick to the easier stuff until I familiarize myself with the codebase :)

[2013-02-27 03:53] jonschlinkert commented on #4
@brian-frichette and @agatronic fyi the Dry project was moved to https://github.com/assemble/dry

@doowb and I haven't done much more work with Dry because I got distracted creating the spec for Pre and we're working on other stuff related to LESS. But if you guys do find Dry interesting, it might be fun to collaborate on it. (@doowb?)

this comment was made earlier

Completely agree, but if you t

[2013-02-27 05:08] doowb commented on #4
I almost forgot about the [dry](https://github.com/assemble/dry) project. It was one of my first attempts at working with node.js. If anyone wants more information on it, let me know, I'm glad to help where I can. Looks like I'll have to revisit it and update it to the latest grunt build and handle async better, but it shouldn't be too bad.

I think the intent was to be able to add rules and refac

[2013-02-27 16:44] scottrippey commented on #4
@jonschlinkert You've got some good points ... extracting variables is definitely useful, and I didn't think about it as being a way to _advertise_ the benefit of using less.

[2013-02-27 17:56] jonschlinkert commented on #4
@scottrippey I guess my thinking is that there are still a fair number of developers who haven't made the jump to a pre-process for some reason, and stuff like this might make it more obvious what the benefit is. For some reason a lot of write-ups about pre-processors seem to focus on nesting as like the "quintessential, must-have feature" of pre-processors.

[2013-03-01 08:07] bfricka commented on #4
@jonschlinkert @doowb Let's talk this weekend if you've got a minute.  I apologize, I have been really tied up lately, but I'd be happy to talk about how we could collaborate.

[2013-03-01 08:49] jonschlinkert commented on #4
sounds good, thx

[2013-03-06 01:03] jonschlinkert commented on #4
@brian-frichette sorry for adding another offline comment but I can't find contact info for you. Any interest in helping us implement a slimmed down version of this for the new lesscss.org website?  Just for showing "live" examples, so we would lock in a version of less.js and take out the options just to make it dead simple. You can contact me at the email on my profile if you want

[2013-03-06 03:56] bfricka commented on #4
Hi @jonschlinkert,

Email me at brian.frichette@gmail.com or just add my on G+.  I was thinking we could do a Google+ Hangout rather than go back and forth over several emails.  I'm happy to help, so let me know when you're available.

Sorry for not responding earlier.

[2013-03-07 21:02] lukeapage opened #10 "Sorry, I renamed the alpha release to a beta..."
Please could you fix? Thanks.

[2013-03-08 09:04] bfricka commented on #10
Sorry? That's progress! Congrats. I'll have it fixed when I get a chance tomorrow. :+1:

[2013-03-08 09:06] bfricka commented on #10
And by tomorrow, I really mean later today

[2013-03-08 09:26] lukeapage commented on #10
sorry because I haven't sorted out a proper system so that its easier to auto-detect...

[2013-03-09 09:43] bfricka commented on #10
All set. I'm not too worried. When you come up with a process that makes you happy, let me know and as long as it's based on a set of rules, I'll write my code to accommodate. For now hardcoding isn't causing me any pain.

-Brian

[2013-03-09 09:43] #10 closed, assigned to bfricka

[2013-03-18 08:56] lukeapage opened #11 "Firefox not showing errors"
in chrome for the following less I get an error

[code]

in firefox though I see nothing...

[2013-03-18 08:58] bfricka commented on #11
Can't reproduce in FF 19 Mac.  Help me out with version / OS please.

[2013-03-18 09:09] lukeapage commented on #11
hrmm only happening for 1.4.0

This smells like a 1.4.0 bug. Leave it with me for now.

[2013-03-18 09:10] bfricka commented on #11
Ahh sorry, I didn't check 1.4.0.  I'll leave this open for awhile just in case.

[2013-03-18 10:31] lukeapage commented on #11
Think it is this

https://github.com/cloudhead/less.js/commit/dca9643a1ad8556d13b27dc960923b60ae5d9285

because you throw the error in the parse callback, you are relying on less to be synchronous and pass the exception on. I have fixed less to do this, as it used to.

Also I think it is not firefox specific it was because chrome was in 1.3.3...

[2013-03-18 10:31] #11 closed, assigned to nobody

[2013-03-18 10:33] bfricka commented on #11
Makes sense, thanks.  I like the fact that we get useful error info, so if you do change it, let me know so I can tie back into it.

[2013-05-27 06:23] Soviut opened #12 "Make options more obvious"
Currently, there is a rather empty header with one lonely dropdown called "options". Without this menu/drawer being open, one cannot tell what version or settings are being used. Any newcomers who don't recognize this may not realize what version or settings they're using to test.

I propose these options be put in a header or sidebar that is visible by default and be hidden/minimized at the user'

[2013-05-29 04:56] bfricka commented on #12
You make some very good points.  I think the options button itself is quite obvious, and I am reluctant to remove the options dropdown and instead put everything in the header itself. Mainly, I think that the number of options will likely grow at some point and down want to have things get cramped.

That said, there is a real information problem as you stated.  I'll add something that displays the

[2013-05-29 05:19] Soviut commented on #12
At the very least, show the options by default. Otherwise, nobody is going to know when then default changes from 1.3.3 to 1.4, for example.

A sidebar like JSFiddle may be the ideal way to cope with a need for expanded options.

[2013-07-02 18:05] scottgit opened #13 "Issues with 1.4 loading on less2css.org"
Over the past few weeks I have not been able to get the 1.4.0 (beta) version of LESS to load on the less2css.org site. Here are some specifics I know:
1. It was working roughly two-three weeks ago.
2.  It does not depend on browser (I've tried FF22, Chrome27, IE10, all fail to load it).
3. It does not depend on computer (which access from different networks)

   a. My work computer is Windows 7 En

[2013-07-02 18:45] bfricka commented on #13
Got it. I didn't realize they had released. Good news for LESS :).  I'll update it when I get home tonight.

[2013-07-02 19:41] scottgit commented on #13
Great! I hope it in fact resolves my issue.

[2013-07-04 13:08] bfricka commented on #13
Apologies for being late on this. Been crazy at work :).  1.4 should be fixed. Let me know if you have any additional issues.

[2013-07-04 13:08] #13 closed, assigned to nobody

[2013-07-04 17:47] scottgit commented on #13
Yes, it solved the issues for me! Thank you.

[2013-07-06 11:58] bfricka commented on #12
I made a few UI tweaks which should hopefully satisfy the poor option visibility.  Let me know if you have any additional suggestions

[2013-07-06 11:58] #12 closed, assigned to nobody

[2013-07-09 07:23] bfricka opened #14 "Rootpath doing odd things when switching options."
Changing less versions to < 1.4 causes `rootpath` (when button is enabled) to change to empty string instead of `false`. This is remedied if you add a character and delete it, suggesting a problem with the watchers for this.

[2013-07-09 07:27] bfricka opened #15 "Issues with options saving"
Refreshing shows that most options save fine, however two of them fail. `dumpLineNumbers` saves the enabled state but not the value, so it always falls back to "comments".

And less version is not saved.

This almost assuredly has to due with setup and not with the model, as I believe I'm setting this initial state in the controller.

[2013-07-09 23:22] heff opened #16 "Example of private.js"
When I first attempted to run this locally I had to reverse engineer private.js, even though it's not needed locally. Providing and example file of how it should look could be one way to help this. e.g. private.js.example

This is what I put in mine to get it to work.

[code]

[2013-07-09 23:33] heff opened #17 "New project from fork"
Hi Brian, I'm working on a skin designer for Video.js where I've forked this and added a video player that updates with changes.
http://designer.jit.su
https://github.com/videojs/designer

I wanted to check and make sure you're ok with this, and if there's any specific attribution you'd want.

Thanks for the awesome work on this either way.

Cheers,
-heff

[2013-07-10 07:44] bfricka commented on #17
Hi Heff,

I'm totally happy to see forks of the project, and it's really cool to see the concept behind your video editor.  The best thing about open source is seeing things sort of things form out of the community from all the organic pieces floating around.

Regarding attribution, I'm not looking for any specific form of it, although I do appreciate it.

I do have a couple of requests.  First, I

[2013-07-10 07:49] bfricka commented on #16
Yeah, that just a piece that I haven't even implemented.  The page gets lots of hits, but I'm pretty sure you're the first to actually use the code for anything, so I have crap in here that really shouldn't be in a public release.  I started a github auth so people can sign in and access their less files, but I ended up losing focus and merging that branch for its useful changes w/out cleaning out

[2013-07-10 16:54] heff commented on #17
Awesome, thanks. I'd definitely appreciate any help you're willing to give. I'm actually not too familiar with Angular and have been mostly hacking around it to get this done.

I'll keep an eye open for things I could contribute back. I could start with the private.js.example if you think that'd still be valuable.

On Jul 10, 2013, at 12:44 AM, brian-frichette notifications@github.com wrote:

[2013-07-10 16:58] heff commented on #16
Cool, no problem. Let me know if an example file would be helpful.

On Jul 10, 2013, at 12:49 AM, brian-frichette notifications@github.com wrote:

[2013-07-12 05:40] bfricka commented on #17
I'm going on vacation starting... in like 6 hours :) So, I might pop in sometime during my vacation, but if I don't get around to it, expect me to catch up with you when I get back around the 23rd or thereafter.

I'd like to have a chat with you regarding some ideas on how we could make your video skinner really cool.

[2013-07-12 15:25] bfricka commented on #16
I removed this. Will tackle auth when I get a chance.

[2013-07-12 15:25] #16 closed, assigned to nobody

[2013-07-12 15:26] bfricka commented on #15
Fixed w/ latest commit. Need to push to live, but I'm on an airplane, and it doesn't like my rsa.

[2013-07-12 15:26] #15 closed, assigned to nobody

[2013-07-12 15:48] bfricka commented on #14
Fixed by 81bc73b2b49ddd6f39dd32aec8c0c3148960e80a

[2013-07-12 15:48] #14 closed, assigned to nobody

[2013-07-12 17:12] heff commented on #17
Sounds good! Have fun.

On Jul 11, 2013, at 10:40 PM, brian-frichette notifications@github.com wrote:

[2013-07-20 13:45] scottgit opened #18 "Less2css.org site down"
@brian-frichette The less2css.org site has been down for over a day at least now. Were you aware of that?

[2013-07-20 14:14] lukeapage commented on #18
was just about to raise it myself...

[2013-07-20 16:58] bfricka commented on #18
Thanks for the heads up. I noticed this but I have been on an airplane all day and have been unable to investigate.

I'll be home finally in an hour and a half, so I'll have it hopefully fixed shortly thereafter.

[2013-07-20 19:18] bfricka commented on #18
Everything is fine. It looks like my VPS went down w/out warning me.  I'm going to make sure this doesn't happen again by opening and implementing two issues here (creating a startup script so my proxy / node servers start-up automatically, and also looking into getting some admin alerts / logging so I can be informed about bad news quickly).

Thanks for reporting here.

[2013-08-02 07:29] bfricka opened #19 "Update site w/ 1.4.2 release"

[2013-10-22 09:59] Anticom opened #20 "Synchronized Scrolling"
Hi,
I thought it would be awesome, if you could sync the scrollbars.
The problem I see, is that it isn't enough to just sync up their absolute position but it would have to match the selectors somehow, kind of how you see it in 3-way-merge editors sometimes.
`one [nested] less selector` <-> `[eventually] multiple output selectors`

Cheers, good work so far!

[2013-10-22 14:34] lukeapage commented on #20
You could use sourcemaps to sync them.. but its a tremendous effort for a
little gain!

[2013-10-29 00:12] scottgit commented on #19
Now it needs to be updated to 1.5.0 also, since that release just recently came out.

[2013-10-29 00:48] bfricka commented on #19
Shit. Yeah I think I made all the changes for 1.4.2 but never deployed them. I will take care of this. Thanks for bringing it up

[2013-11-01 14:20] paazmaya commented on #19
Would it be possible to allow user to switch between versions, perhaps via drop down menu?
This might make it easier to pin point library related issues when trouble shooting.

[2013-11-01 16:10] bfricka commented on #19
Hi, Juga,

This functionality already exists. Just hit the options button and a panel
will drop down where you can choose your version.

[2013-11-14 15:37] scottgit commented on #19
@brian-frichette I'm just checking up on the deploying of 1.4.2 and 1.5. You had mentioned over two weeks ago that you would "take care of this," but I also know you have a life :-). Anyway, I just wanted you to know that I, for one, really appreciate the site and use it for all my testing of LESS. So thank you for your work and time you do put in on it.

[2013-11-14 16:55] bfricka commented on #19
Yes, I'm going to get to it soon. I was involved in motorcycle accident
where I fractured my right clavicle, and had to undergo surgery to put the
pieces together. It's been pretty shitty, honestly.

Wearing a sling means typing with my left hand only (I'm right handed).

Anyways, I'll be better soon
On Nov 14, 2013 7:37 AM, "scottgit" notifications@github.com wrote:

[2013-11-15 21:17] scottgit commented on #19
@brian-frichette Oh, sorry to hear about that! Sounds like we should be thankful that you can type at all; a motorcycle accident could have ended up FAR worse. Glad you will be better soon.

[2013-11-16 15:46] lukeapage commented on #19
Yes, get better soon, sorry to hear it. Take care!

[2013-11-29 13:11] scottgit commented on #18
@brian-frichette I hope you are moving toward full health in your continued recovery from your accident. I wanted you to know that your site has been down again for over a week now.

[2013-12-02 14:13] evalica commented on #18
Still down. Not sure what is the right process in this case. Thanks

[2013-12-02 16:13] bfricka commented on #18
Sorry guys, it should be back up now. Recovery's been slow, but I'm getting there, so hopefully soon I can write something that ensures this won't occur again.

[2013-12-02 18:42] bfricka commented on #19
Updated to 1.5.1. Thanks for the patience.

[2013-12-02 18:42] #19 closed, assigned to bfricka

[2013-12-03 04:23] scottgit commented on #19
@brian-frichette I'm not seeing a selection in the Options drop down for the LESS version for anything beyond 1.4.1, which it is still saying is "current."

[2013-12-03 04:29] bfricka commented on #19
Yeah, I didn’t fully merge the in progress stuff I was working on so I believe there is a bug in the expiration of localStorage which is persisting the options longer than it should.  Even so I should write something that periodically (like once a day) looks for new options and merges them into the user options so selected prefs can be kept while new options are added.

Either way, you can clear y

[2013-12-12 02:32] scottgit commented on #18
@brian-frichette And down again :-) (for a couple days now).

[2013-12-12 02:37] bfricka commented on #18
Insanity. I'll be able to fix this crap for good this weekend. Sorry for neglect. It's back up... for now :-P

[2013-12-17 21:52] ghost commented on #18
In case anyone else needs a quick alternative: http://lesstester.com

[2013-12-18 00:09] lukeapage commented on #18
@brian-frichette anything I can do to help? you can message me privately if you need.

[2013-12-19 20:16] calvinjuarez opened #21 "Persistent File error"
## Here's what happened.
1. I copied and pasted a block\* of LESS that included two `@import` statements.
2. I commented them out (first `// line`, then `/* block */`),
   then deleted them,
   then deleted the entire block and re-pasted it without any `@import`s
3. I took a screenshot and opened this issue

_* If you'd like the full block of text I pasted, I can give it to you._
## Here's that sc

[2013-12-19 20:26] bfricka commented on #21
Yes it would be good if you could paste the text in a code block so I can debug. Thanks

[2013-12-19 20:29] calvinjuarez commented on #21
No prob.

[code]

_(This was a block of contrived less to help me test a syntax highlighter, by the way.  Don't judge me.)_

[2013-12-19 20:45] bfricka commented on #21
Okay so what's happening is when an `@import` hits a 404 state, it persists in the `less.Parser` instance (unlike syntax errors).

As a quick fix to resolve this, I can switch it to watch for this sort of error and create a new `less.Parser` instance if it pops up.  Thanks for bringing this up.  I really need to get back to updating this thing :)

I'll be able to fix this when I get home later.

[2013-12-19 20:49] bfricka commented on #18
Thanks @lukeapage .  I'm getting my functioning back on track so I'm good.  I got an SSH app for my phone so I can quickly start the server if it goes down again.  Hoping I'll have time to create a start-up script so I can forget about this (the app runs on node-forever, so it's only when the server goes down for maintenance).

System admin stuff really bores me, so I haven't had the highest level

[2013-12-20 03:54] bfricka commented on #20
Not a bad idea @lukeapage, except source map support was added in 1.5, right? So it would have to be an option (enabled by default in 1.5).

Am I looking at this correctly?

[2013-12-20 04:02] bfricka opened #22 "Fix localStorage"
New options never get added due to bug in `Stor`. Periodically check for options and merge them into cached options.

[2013-12-20 06:34] lukeapage commented on #20
Yes and there is not yet client side support for sourcemaps...

[2013-12-25 11:03] MikeTatsky opened #23 "less2css.org does not work"
Site http://less2css.org/ does not work second day.

[2013-12-25 12:18] bfricka commented on #23
Yeah, I started some maintenance / refactoring yesterday but was unable to
finish it. Being the holiday and all.

I'll have it up at some point today.

[2013-12-26 09:59] bfricka commented on #23
Should be up now. Thanks

[2013-12-26 09:59] #23 closed, assigned to nobody

[2013-12-26 10:00] bfricka commented on #21
I added a fix for this so it shouldn't be an issue. Hopefully I'll be able get the time to add imports at some point, but for now it at least doesn't break the site.

[2013-12-26 10:00] #21 closed, assigned to nobody

[2013-12-26 10:01] bfricka commented on #22
Fixed bug in `Stor` and re-wrote most of it.

[2013-12-26 10:01] #22 closed, assigned to nobody

[2013-12-30 19:36] calvinjuarez commented on #21
Awesome!, thanks!  You're a gentleman and a scholar.

[2014-01-02 12:42] lukeapage opened #24 "1.6.0 released"
Another release!

[2014-01-03 20:25] bfricka commented on #24
Congrats. I'll add it tonight :)

On a side note, I've been learning about how to configure start-up stuff on linux so I'll be able to finally close that [less2css is down](https://github.com/brian-frichette/less-preview/issues/18) bug. Finally.

I'm also working on further componentizing the code so we can integrate simple editors for the code samples on lesscss.org documentation page (similar to

[2014-01-06 06:29] bfricka commented on #24
All set

[2014-01-06 06:29] #24 closed, assigned to nobody

[2014-01-06 21:30] lukeapage opened #25 "domain expired!"
Let me know if you need any help..

[2014-01-06 21:43] bfricka commented on #25
Damn. Had it on auto-renew but forgot that I changed cards. Got it for 3 years, should but up soon.

[2014-01-06 21:43] #25 closed, assigned to nobody

[2014-01-10 07:45] lukeapage commented on #18
@brian-frichette seems to be down again!

[2014-01-10 10:42] bfricka commented on #18
Thanks @lukeapage I'll have this closed out this weekend for sure. For now, it's back up.

[2014-02-22 02:03] scottgit opened #26 "1.6.1 - 1.6.3 released, rumors 1.7.0 coming soon"
Just noting that the site is behind by a few updates. Thanks for your work on this. I know you are attempting to get auto-updating worked out.

[2014-02-22 02:21] bfricka commented on #26
I was... It's not particularly difficult. But I'm not really linked on lesscss.org any longer so I do sort of wonder to what extent this project will continue to even get traffic? I can check Google Analytics.

Either way, I'll make this happen :)

Thanks for the heads up.

[2014-02-22 02:23] scottgit commented on #26
You are [still linked](http://lesscss.org/usage/#online-less-compilers) and at the top.

[2014-02-22 02:30] bfricka commented on #26
Gotcha. Yeah traffic's been cut in half but it still seems to receive around 1,500 page views a week.

I have a question since I know you've answered many SO questions on LESS... What's your impression in terms of usage of legacy versions of LESS?  The main initial motivation for creating this site was to test feature differences between versions since certain projects or apps are stuck on older v

[2014-02-22 02:40] scottgit commented on #26
I cannot honestly answer what actual "usage" of the legacy versions of LESS are. What I can say, however, is that your legacy versions are precisely why I use and prefer your site above all others for testing. Oftentimes I want to know how a particular coding works in relation to older versions, and it is _so easy_ to just switch through versions an see where something fails, or suddenly starts wo

[2014-02-22 02:41] bfricka commented on #26
No maintenance required at all. :) Thanks for the reply

[2014-02-22 02:45] scottgit commented on #26
No problem. I guess I could see where the list may simply get too long to be user friendly in a drop down. Maybe at some point the older versions should be moved to some "sub selection" area and not part of the main drop down selection. Make them available, but not without a little bit of digging to get to them.

[2014-03-13 15:07] scottgit opened #27 "Update for LESS 1.7 release"
LESS 1.7 was released 14 days ago. Also, for historical support, the site is not updated for 1.6.1 - 1.6.3 releases either.

[2014-03-13 17:01] bfricka commented on #27
Yes... I will get this today. I've been working on a refactor of certain things (an automated git tag checker is part of the mix) so I've been putting off the update. I'll make sure to get the new versions out today, though.

Thanks.

[2014-04-01 13:33] Anticom commented on #20
Just a little ping on my Ticket, since it's still open.
I've just discovered, that there seems to be a [source map implementation](https://github.com/mozilla/source-map) in js now (done by mozilla).
I am not a JS dev so I can't really tell, wether you could use that one or not.

[2014-05-06 05:39] lukeapage commented on #18
@brian-frichette its down again.. what was the reason for needing a custom server again instead of through git hosting?
I'm wondering whether the page could just scrape the CDN for versions or even have them hard-coded if its going to make things more stable.
I'd rather remove the link from lesscss.org if its going to be more down than up..

[2014-05-06 17:01] bfricka commented on #18
Understood and agreed. I'd like to keep this around for awhile and would ask that you give me a day or two. I just have to finish migrating it to EC2, and simply haven't given it the priority it deserves.

[2014-05-09 10:31] bfricka commented on #18
@lukeapage I have migrated the site to EC2. I'll be tweaking a few things over the next day or two but it should be stable thereafter. I'll focus on pulling versions automatically ASAP.

[2014-05-09 10:31] #18 closed, assigned to nobody

[2014-05-26 12:53] SomMeri opened #28 "1.7.0 support"
Could you please add support for less.js 1.7.0 (latest)?  Less.js dist repo link: https://github.com/less/less.js/tree/master/dist

[2014-05-27 02:09] bfricka commented on #28
I totally will. I'm out of town right now at Joshua Tree, but I've been meaning to finish that off for awhile now. Thanks.

[2014-09-14 09:59] tomByrer commented on #28
How about [v1.7.5](https://github.com/less/less.js/commit/08e2fc413675ea06426f9b9b532efbb2d600ea0b) please?

[2014-11-08 10:32] bfricka commented on #26
Done. I'm going to start working on this again and get 2+ support soon.

[2014-11-08 10:32] #26 closed, assigned to nobody

[2014-11-08 10:32] bfricka commented on #27
Done

[2014-11-08 10:32] #27 closed, assigned to nobody

[2014-11-08 10:33] bfricka commented on #28
Done. Finally. I'll be working on this again, so 2+ will be out soon.

[2014-11-08 10:33] #28 closed, assigned to nobody

[2015-02-05 18:01] scottrippey opened #29 "less2css.org is down"
Long time, no see!  Hope you're doing well.
Just wanted to make you aware that the website is unreachable.
Not sure if you put much time into this anymore, but I wanted to let you know it was down.

[2015-02-07 13:35] lukeapage commented on #29
If not maybe we can move this to github pages off the less organisation?

[2015-02-10 07:43] scottrippey commented on #29
@lukeapage I know there were a number of server-side components.  The Less releases were automatically pulled down from GitHub, for example.  So, we'd need to refactor those to use a manageable hard-coded list.
And we'd need @bfricka to update his domain name, or just use the less.github.io/less2css or something.

[2015-02-10 15:39] bfricka commented on #29
Sorry been off the grid for a couple days! Should be back up now. Amazon decided to switch something on me and shut down the instance (they changed the public IP as well).

@lukeapage I don't have any issues bringing this into less org. That's where it belongs. Let me know what your overall thoughts are, because I trust you and I'm amenable to anything that makes sense.

Right now it just sits on

[2015-02-10 15:46] bfricka commented on #29
@scottrippey I actually do have code that does the automatic version checking and all that in the "Overhaul" branch, but, embarrassingly, I haven't merged it b/c I wanted to do some work on getting it compatible w/ less 2+ first :(

And obviously that sorta disappeared from my consciousness until now...

[2015-02-10 19:25] scottrippey commented on #29
@bfricka Side question: Does the free EC2 instance run Node?  I was looking for Node hosting, but couldn't find it cheap, and I wasn't sure if Amazon supported it.

[2015-02-10 19:26] scottrippey commented on #29
Also, I'm trying http://www.less2css.org to no avail ...

[2015-02-10 21:15] bfricka commented on #29
Super lame :P I'll try to diagnose really quick but I'll probably have to look at it in more detail this evening.

Re: your first question. Yes EC2 free tier lasts for like a year or so and it's cheap thereafter. It basically just gives some resources to install whatever you want, and has a community of images for various setups. Mine just runs Ubuntu LTS and I installed Node myself.

[2015-02-12 12:44] lukeapage commented on #29
@bfricka
I would probably prefer not having any server-side components at all - you can have a compile step in github pages and I'd have that fetch all the less.js versions and store them in a directory and have the client download as necessary.
But I'm not sure how much time I can spare or how much this departs from what you've done - I have never really looked.

I guess our frustration is that i

[2015-02-12 18:54] scottrippey commented on #29
Site back up :)

[2015-02-12 18:54] #29 closed, assigned to nobody

[2015-02-19 02:33] bfricka commented on #29
Hey @lukeapage, I agree with you. I mainly did the server-side stuff because I wanted to play around with it and learn about it. For awhile there it really was unstable, but over the past few months (with the exception of this outage), it's been super stable. That said, I've had my fun, and I'd prefer to move on to other things.

As far as less 2, I think I need to just go through and see the chan

[2015-04-18 10:30] pavelthq opened #30 "compile on mobile"
It doesn't compile on mobile ( looks like event is not triggered.) I think if you would add mobile version without pretty textarea but with simple textarea + button to compile it would be great.

[2015-04-18 10:30] pavelthq commented on #30
Tested on Android 5. Chrome, Firefox, native. Lg g3

[2015-04-22 13:17] josephws commented on #30
did you fix this issue @AngeIII ??

[2015-05-14 20:18] WalkerCodeRanger opened #31 "Support less 2.0.0 to 2.5.0"
Please add the option of selecting less versions:
- 2.0.0
- 2.1.0
- 2.1.1
- 2.1.2
- 2.2.0
- 2.3.0
- 2.3.1
- 2.4.0
- 2.5.0

[2015-06-12 11:05] lukeapage opened #32 "fork / new version"
Hi @bfricka,

I'm having a go at writing a new version - https://github.com/less/less-preview - using Aurelia. Its partly because I want to investigate writing an app in Aurelia. I've started from scratch, but stolen your design (so most of the css and html). I've also gone with having a gulp task that generates a importable array of less versions, then loading the files from the CDN.. I think thi

[2015-06-12 12:42] lukeapage commented on #32
I put it on gh-pages as-is (lots of issues but anyway) : http://lesscss.org/less-preview/
until bundling comes along its going to take an age to load.

[2015-07-08 12:08] lukeapage commented on #32
now much improved.
http://lesscss.org/less-preview/

[2015-07-08 12:08] lukeapage commented on #31
I've forked and am re-writing. You can use this..
http://lesscss.org/less-preview/

[2015-07-10 23:35] bfricka commented on #32
Awesome dude. Yeah we can totally look at transferring the domain target. I took a bit of a break from all this, sorry. Aurelia looks amazing! Before I went on hiatus, I was looking deeply at jspm and ES6, and it was kind of a pain to get everything quickly bootstrapped. I'm super stoked to start playing with this.

Let me know when you feel like you're ready and I'll point the domain (although I

[2015-07-11 06:35] lukeapage commented on #32
@bfricka I made you an admin.

We made lesscss.org a published apex domain but I hit problems trying to get lesscss.org to resolve to less.github.io/less-docs.. so in the end I configured less.github.io so that the domains could be straight forward aliased.

At the moment this creates a strange effect where by http://lesscss.org/less-preview/ works.

What I'd try is following https://help.github.c

[2015-07-14 05:30] bfricka commented on #32
Okay, that sounds good. Maybe we can hook up on Hangouts (or another chat of your choosing) to make the switch. If you're on Hangouts just add my email address.

[2015-07-19 03:08] bfricka commented on #32
Closing due successful handoff

[2015-07-19 03:08] #32 closed, assigned to nobody

[2018-01-10 21:52] lzl124631x opened #33 "less2css.org has expired."
http://less2css.org/

If you know the owner of this domain, please let them know.

[2018-01-11 19:45] bfricka commented on #33
I had the domain for 5 years. I let @lukeapage know the amount of time I had left when I pointed to his fork years ago. I'm not sure what the plan is.

[2021-01-11 16:27] #20 closed, assigned to nobody